body {
    background-color: #125c13;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin: 0%;
    color: #e8e1d9;
}

#headers {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    margin: 0%;
    width: 50%;
    color: #e8e1d9;
}

strong {
    color: #df7b02;
}

ul {
    list-style-type: none;
}

.tabla-estadisticas {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tabla-estadisticas tr {
    border-collapse: collapse;
    border: 0.2em solid #e8e1d9;
}

.tabla-estadisticas tr:nth-child(even) {
    background-color: #3e7c17;
}

.tabla-estadisticas tr:hover {
    background-color: rgb(8, 49, 8);
}

.tabla-estadisticas th {
    text-align: center;
    background-color: #df7b02;
    color: black;
}

.tabla-estadisticas tr {
    text-align: left;
    background-color: #125c13;
    color: black;
}

td:nth-child(2) {
    text-align: center;
}

.tabla-estadisticas {
    background-color: #f4a442;
    color: black;
}

/* video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* position: fixed;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 240px; 
} */

.borde-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 16em;
    width: 30em;
    border: 5px solid black;
    overflow: hidden;
    border-radius: 8% 10%;
}

h2 {
    font-size: xx-large;
    margin: 2em;
}

p {
    margin: 1em;
}

ul {
    margin: 2em;
}

li {
    margin: 2em;
    outline-style: dashed;
    padding: 1em;
}

h3 {
    margin: 1em;
    font-size: larger;
}

th {
    padding: 1em;
}

td {
    padding: 1em;
}

h1 {
    margin-top: 1em;
}

video {
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: black;
    left: 0;
    width: 100%;
    z-index: 99;
}

.boton {
    font-family: Arial;
    height: var(--buttonHeight-mobile);
    width: 12em;
    display: inline-block;
    padding: 0.5em 2.5em;
    margin: 0.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: White;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    font-size: var(--fontSize-mobile);
    font-weight: bold;
}