/* Mobile */
/* Default */
/* @media (max-width: 667px){} */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    margin: 0;
}

body {
    background-color: #125C13;
    color: white;
    margin: 0;
    height: 100%;
    padding: 1em;
}

.error {
    color: red;
}

fieldset{
    display: flex;
    flex-direction: column;
}

.boton {
    font-family: Arial;
    width: 12em;
    height: 70%;
    border-radius: 15px;
    padding: 0.5em;
    align-self: center;
    text-align: center;
    background: White;
    color: black;
    font-weight: bold;
    display: block;
    margin-top: 1em;
    font-size: large;
}

a{
    color: #3DB2FF;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: x-large;
}


label{
    display: block;
    font-size: x-large;
    margin-top: 0.3em;
}

#form_lenguaje fieldset{
    flex-direction: row;
    justify-content: space-around;
}

/* Desktop */
@media(min-width: 1024px) {
    body{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    main{
        width: 30%;
    }
    
    form{
        width: 100%;
    }

    #form_lenguaje fieldset{
        flex-direction: row;
        justify-content: space-around;
    }

    #boton_submit{
        width: 70%;
        height: 3em;
    }
    
    summary{    
        font-size: x-large;
    }
    
    p{
        font-size: x-large;
    }
}


details{
    display: contents;
    text-align: center;
}