:root {
    --fontSize-mobile: medium;
    --buttonHeight-mobile: 3em;

    --fontSize-tablet: ;
    --buttonHeight-tablet: ;

    --fontSize-desk: x-large;
    --buttonHeight-desk: 10vh;
}

body {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #125c13;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #e8e1d9;
    font-weight: bold;
}

.boton {
    font-family: Arial;
    height: var(--buttonHeight-mobile);
    width: 30vw;
    display: inline-block;
    padding: 0.5em 2.5em;
    margin: 0.5em;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: White;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    font-weight: bold;
}

.boton:hover {
    background-color: aliceblue;
}

.boton:active {
    background-color: rgba(240, 248, 255, 0.856);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.dificultad_titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dificultad_titulo h2 {
    margin-left: 1em;
}
.config_icon {
    background-color: White;
    width: 2em;
    /* height: 2em; */
    color: transparent;
    margin-left: 2em;
    border: 0.2em solid White;
    border-radius: 0.6em;
    cursor: pointer;
}
.config_icon::after {
    content: url("/svg/config_icon.svg");
}

.config_text {
    display: flex;
    width: 100%;
    height: 10vmin;
    justify-content: space-around;
}
.config_text .tiempo_juego {
    margin: 0%;
}
.config_text .cant_jugadores {
    margin: 0%;
}
.config_text .dificultad {
    margin: 0%;
}

.listas {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
}
.listas .equipos {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #e8e1d9;
    color: black;
}
.listas .equipos h3 {
    text-align: center;
    width: 100%;
    height: 15%;
    margin: 0%;
    padding: 0.5em;
    border-bottom: 1px solid darkgray;
}

.listas .equipos ul {
    width: 90%;
    height: 70%;
    padding: 0%;
    margin: 0%;
    overflow: scroll;
    scroll-padding: 1em;
}
.listas .equipos ul li {
    width: 90%;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listas .equipos ul li p {
    margin: 0px;
}

.section_botones {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
}
/** Agregado para cuando tengamos ancors como botones*/
.section_botones a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuracion Sala Creada */
.config_sala {
    height: 70%;
    width: 80%;
    color: #e8e1d9;

    background-color: #3e7c17;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 8px black;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

.config_sala h2 {
    width: 100%;
    margin: 0%;
    text-align: center;
}

.config_sala .label_crear_tiempo {
    width: 35%;
}

.config_sala #config_TiempoJuego {
    width: 5%;
    margin-right: 5%;
}
.config_sala #text_tiempo {
    width: 40%;
}

.config_sala .label_crear_numJug {
    width: 35%;
}

.config_sala #config_NumJugadores {
    width: 5%;
    margin-right: 5%;
}
/* .config_sala .input_number input{
        width: 10%;
        height: 100%;
    } */
.config_sala #text_numJug {
    width: 40%;
}

.config_sala .label_radio_DJ {
    width: 35%;
}

.config_sala .radio_DJ {
    width: 50%;
    padding: 0%;
}

.config_sala .botonesCrear {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0%;
}

.pop_up_hid {
    visibility: hidden;
}

#dificultad_ayuda {
    position: fixed;
    color: transparent;
    width: 1.5em;
    padding-left: 0.2em;
    line-height: 0;
    margin-left: 2em;
}

#dificultad_ayuda::after {
    content: url("/svg/help-icon.svg");
}

#crear_sala_form {
    width: 100%;
}

.disabled {
    pointer-events: none;
}

.main_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.kick_icon {
    color: transparent;
    width: 1.5em;
    height: 1em;
    cursor: pointer;
}
.kick_icon::after {
    content: url("/svg/cruz.svg");
}

.move_icon{
    cursor: pointer;
}
.move_icon_1 {
    color: transparent;
    width: 1.5em;
    height: 1em;
    margin-right: 1em;
}
.move_icon_1::after {
    /* arrow points to right */
    /* content: url("/svg/right_arrow.svg"); */
    content: url("/svg/arrow_team_right.svg");
}

.move_icon_2 {
    color: transparent;
    width: 1.5em;
    height: 1em;
    margin-right: 1em;
}
.move_icon_2::after {
    /* arrow points to left */
    /* content: url("/svg/left_arrow.svg"); */
    content: url("/svg/arrow_team_left.svg");
}

.nombre_jugador {
    flex: 2;
}

.btn_eliminar_sala {
    background-color: #c0392b;
    color: #fff;
}

.btn_eliminar_sala:hover {
    background-color: #c03a2bd7;
    color: #fff;
}

.tiempo_juego_value {
    margin-left: 0;
}

.tiempo_juego_label {
    margin-right: 0;
}

.dificultad_titulo {
    font-size: larger;
}

.config_text {
    font-size: larger;
}

.equipos h3 {
    font-size: larger;
}

.loader{
    height: 100px;
    width: 20%;
    text-align: center;
    margin-left:1em;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 3.4em;
    bottom: -0.6em;
}
    .loader svg path{
        fill: #FF6700;
    }

    .loader p{
      color: white;
      font-size: 1.3em;
    }

    .loader svg{
        width: 70px;
        height: 40px;
    }

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
}

/* Desktop */
@media (min-width: 1024px) {
    .boton {
        font-family: Arial;
        height: var(--buttonHeight-desk);
    }
    .dificultad_titulo {
        justify-content: space-evenly;
        font-size: var(--fontSize-desk);
    }
    #crear_sala_form {
        font-size: var(--fontSize-desk);
    }

    .loader{
        position: absolute;
        right: 7em;
        bottom: 2em;
    }

    .loader p{
        color: white;
        font-size: 1.4em;
    }

    .loader svg{
        width: 70px;
        height: 80px;
    }
}

.rotar-pantalla{
    width: 100%;
    height: 100%;
    background-color: #F4A442;
    position: absolute;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.no-mostrar{
    display:none ;
}

.rotar-pantalla h1{
    font-size: xx-large;
    text-align: center;
    margin: 1em;
    display: flex;
    color: black;
}

.rotar-pantalla p{
    font-size: large;
    text-align: center;
    margin: 1em;
    display: flex;
    color: black;
}

#pantalla-inactiva {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
}

.ocultar{
    visibility: hidden;
}

