:root {
    --fontSize-mobile: medium;
    --buttonHeight-mobile: 10vh;

    --fontSize-tablet: ;
    --buttonHeight-tablet: ;

    --fontSize-desk: x-large;
    --buttonHeight-desk: 10vh;
}

/* Mobile (Default) */
body {
    /* background-image: url("/imagenes/6-climatechange.jpg"); */
    background-color: #125c13;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-weight: bold;
}

.main_body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boton {
    font-family: Arial;
    height: var(--buttonHeight-mobile);
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 2.5em;
    margin: 0.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: White;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    font-size: var(--fontSize-mobile);
    font-weight: bold;
}

.boton:hover {
    background-color: aliceblue;
}

.boton:active {
    background-color: rgba(240, 248, 255, 0.856);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Todo lo que tiene que ver con el header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ----- Titulo Logo ----- */
#welcome_title {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_logo {
    position: inherit;
    content: url("/imagenes/unlu.png");
    border-radius: 50%;
    width: 26vw;
    margin-top: 10vh;
    box-shadow: 0 0 30px 5px black;
}

/* ----- Botones de Comenzar partida ----- */
#welcome_botones {
    /* background-color: darkolivegreen; */
    height: 20vh;
}

button + button {
    margin-left: 5em;
}

/* ----- Boton Tutorial ----- */
#welcome_comoJugar {
    /* background-color: darkslateblue; */
    height: 20vh;
}

/* ----- Botones Config ----- */
#welcome_config {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 10vw;
    display: flex;
    flex-direction: column;
}
#welcome_config label{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    white-space: nowrap;
}

.video_icon {
    content: url("/svg/reproduccion_video.svg");
    height: 50%;
    width: 90%;
    background-color: White;
    border-radius: 15px;
    cursor: pointer;
}

#video_label{
    margin-bottom: 1em;
}

.video_icon:active {
    background-color: rgba(240, 248, 255, 0.856);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.video_icon:hover {
    background-color: aliceblue;
}

.sound_icon {
    content: url("/svg/altavoz.svg");
    height: 50%;
    width: 90%;
    background-color: White;
    border-radius: 15px;
    cursor: pointer;
}

.sound_icon:active {
    background-color: rgba(240, 248, 255, 0.856);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.sound_icon:hover {
    background-color: aliceblue;
}

.section-Pop-up {
    height: 90%;
    width: 80%;
    color: white;
    background-color: #3e7c17;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 8px black;
    display: flex;
    z-index: 10;
    flex-direction: column;
}
.section-Pop-up h2 {
    height: 10%;
    margin: 0%;
}

/* Buscador de salas */
.buscadorSalas .form_listaSalas {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.buscadorSalas h2 {
    color: white;
    font-size: xx-large;
    margin: 0;
    display: flex;
    align-items: center;
}
.buscadorSalas .form_listaSalas .salas {
    color: black;
    background-color: #e8e1d9;
    height: 70%;
    width: 60%;
    justify-content: normal;
    align-items: normal;
    overflow: scroll;
    padding: 0%;
    margin: 0.5em;
    border-radius: 15px;
}
.buscadorSalas .form_listaSalas .salas ul {
    width: 100%;
    list-style-type: none;
    margin-top: 0.2em;
}
.buscadorSalas .form_listaSalas .salas li {
    text-align: center;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 1em;
}
.buscadorSalas .form_listaSalas .salas li:hover {
    background-color: #f4a442;
}

.item_sala_seleccionado {
    background-color: #f4a442;
}

.buscadorSalas .botonesSalas {
    font-family: Arial;
    display: flex;
    padding: 0%;
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.buscadorSalas .botonesSalas input {
    font-family: Arial;
    margin-left: 0.5em;
}

.pop_up_hid, .ocultar{
    visibility: hidden;
}

/* Creador de salas */
.creadorSalas {
    color: white;
    justify-content: space-around;
}
.creadorSalas h2 {
    width: 100%;
    height: 10%;
    text-align: center;
}

.creadorSalas .form_crearSala {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
.creadorSalas .form_crearSala .label_crear_Name {
    width: 35%;
}
.creadorSalas .form_crearSala #crear_Name {
    width: 50%;
}
.creadorSalas .form_crearSala .label_radio_TJ {
    width: 35%;
}
/* .creadorSalas .form_crearSala .radio_TiempoJuego{ */
.creadorSalas .form_crearSala #crear_TiempoJuego {
    width: 5%;
    margin-right: 5%;
}
.creadorSalas .form_crearSala #text_tiempo {
    width: 40%;
}
.creadorSalas .form_crearSala .label_crear_NJ {
    width: 35%;
}

.creadorSalas .form_crearSala .label_radio_DJ {
    width: 35%;
}
.creadorSalas .form_crearSala .radio_DJ {
    margin: 0%;
    width: 50%;
    padding: 0%;
}
.creadorSalas .form_crearSala #crear_NumJugadores {
    width: 5%;
    margin-right: 5%;
}
.creadorSalas .form_crearSala #text_numJug {
    width: 40%;
}

.botonesCrear button,
.botonesCrear input {
    font-family: Arial;
    height: 60%;
}

.creadorSalas .form_crearSala .botonesCrear {
    font-family: Arial;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
}

#dificultad_ayuda {
    position: fixed;
    color: transparent;
    width: 1.5em;
    padding-left: 0.2em;
    line-height: 0;
    margin-left: 2em;
    bottom: auto;
    visibility: hidden;
}

#dificultad_ayuda::after {
    content: url("/svg/help-icon.svg");
}

#bienvenida {
    color: white;
    background-color: #3e7c17;
    position: fixed;
    top: 0;
    padding: 0.5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.botonHeader {
    font-family: Arial;
    position: absolute;
    font-size: small;
    padding: 0%;
}

#logout {
    right: 0;
}

#cargarPreguntas {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: auto;
    right: auto;
}

/* Reglamento del juego */
.reglamentoJuego #logo_reglamento {
    position: absolute;
    width: 3em;
    top: 0.5em;
    left: 1em;
    margin-top: 2%;
}

.reglamentoJuego h2 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e1d9;
}

.reglamentoJuego .reglamento_texto {
    width: 80%;
    height: 50%;
    padding: 2em;
    display: block;
    overflow: scroll;
    background-color: #e8e1d9;
    border-radius: 15px;
    color: black;
    text-align: justify;
}
.reglamentoJuego .reglamento_texto p {
    margin: 0%;
}

.reglamentoJuego #botones_reglamento {
    width: 100%;
    height: 20%;
}

/* Configuraciond e sonido */
.sound_config {
    height: 50%;
    justify-content: space-evenly;
    width: 45%;
}
.sound_config label {
    font-size: x-large;
}
.sound_config input {
    transform: scale(2);
}

.disabled {
    pointer-events: none;
}

#pantalla-inactiva {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
}


#welcome_title h2 {
    display: none;
}

#welcome_botones h2 {
    display: none;
}

#welcome_comoJugar h2 {
    display: none;
}

#welcome_config h2 {
    display: none;
}

.main_body>h1 {
    display: none;
}

.reglamento_texto h2 {
    color: black;
}

#botones_reglamento h2 {
    display: none;
}

.creadorSalas h2 {
    font-size: xx-large;
}

.reglamentoJuego h2 {
    font-size: xx-large;
}

.reglamento_texto h2 {
    font-size: x-large;
}

.reglamento_texto h3 {
    font-size: larger;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.reglamento_texto h4 {
    font-size: large;
    margin-left: 0.5em;
}

.reglamento_texto ul {
    display: block;
    list-style-type: circle;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
}

.reglamento_texto ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
}

.reglamento_texto li {
    margin-bottom: 1.5em;
}

/* Error validacion */
#error_validacion{
    height: 50%;
    font-size: var(--fontSize-mobile);
}

#form_lenguaje{
    position: fixed;
    top: 17vh;
    left: 1vw;
    background-color: white;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 15px;
    /* font-size: var(--fontSize-mobile); */
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_lenguaje fieldset{
    margin: 0.5em;
}
#form_lenguaje fieldset{
    display: flex;
    flex-direction: column;
}
#form_lenguaje fieldset label{
    display: flex;
    justify-content: space-between;
}
#form_lenguaje fieldset label:not(:last-child){
    margin-bottom: 1.5em;
}
#form_lenguaje fieldset label input{
    margin-left: 2em;
    transform: scale(1.3);
}

/* Mobile, mas pequeño */
@media (max-width: 618px) {
    .boton{
        width: 9em;
    }
    #welcome_botones{
        justify-content: center;
    }
    .botonHeader {
        font-family: Arial;
        width: 8em;
    }
    #welcome_config label{
        width: 4em;
    }
    .reglamentoJuego #logo_reglamento{
        width: 2em;
    }
    .reglamentoJuego h2{
        font-size: medium;
    }
    .reglamentoJuego .reglamento_texto{
        font-size: small;
    }
    .sound_config input{
        transform: scale(1);
    }
    .welcome_logo{
        width: 30vh;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #welcome_config label{
        visibility: hidden;
    }
    .boton {
        font-family: Arial;
        height: var(--buttonHeight-desk);
        font-size: var(--fontSize-desk);
    }
    #boton_buscador {
        margin-left: 6em;
    }

    .welcome_logo {
        margin-top: 3em;
        width: 17em;
    }
    .creadorSalas h2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botonHeader {
        font-size: large;
    }
    .reglamentoJuego #logo_reglamento {
        width: 5em;
    }
    .buscadorSalas .form_listaSalas .salas {
        font-size: var(--fontSize-desk);
    }
    .form_crearSala,
    .form_crearSala input {
        font-size: var(--fontSize-desk);
    }

    #form_lenguaje{
        font-size: var(--fontSize-desk);
    }
    #form_lenguaje h2{
        margin-bottom: 0.5em;
    }
    #form_lenguaje fieldset label input{
        transform: scale(2);
    }
}
