body {
    background-color: darkgreen;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-weight: bold;
    font-size: x-large;
}

.main_body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#headers {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    margin: 0%;
    width: 50%;
    color: white;
}

#info_equipos {
    display: flex;
    height: 60vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.sect_info {
    width: 30%;
    height: 100%;
    background-color: #E8E1D9;
    border-radius: 15px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.sect_info .termometro {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 3 / 2;
}

.sect_info .titulo {
    text-align: center;
    align-self: center;
    margin: 0%;
    grid-area: 1 / 2 / 2 / 3;
}

.sect_info .grados {
    text-align: center;
    align-self: center;
    margin: 0%;
    grid-area: 2 / 2 / 3 / 3;
}

.boton {
    width: 12em;
    border-radius: 15px;
    padding: 0.5em;
    align-self: center;
    text-align: center;
    background-color: white;
    font-size: large;
    font-weight: bold;
    height: 10vh;
    margin:auto;
    font-family: Arial;
}

.termo {
    /*Creado solo para que la suba de temperatura sea fluida, se la asignamos por js, si se puede podriamos cambiarlo.*/
    transition: 1s;
}

.hidden {
    visibility: hidden;
}

#cargaPreguntaSection {
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    background-color: #E8E1D9;
    overflow: scroll;
}

#stop_pregunta{
    margin: 1em;
}

#input_pregunta{
    width: 70%;
}

.input_opcion{
    width: 60%;
}

#cargaPreguntaSection h3{
    margin: 0.5em;
    text-align: center;
}

#cargaPreguntaSection p{
    margin: 0%;
}

.radio_optima{
    transform: scale(2);
    margin: 0;
    margin-left: 10px;
}

#section_opciones{
    border: solid 1px black;
    border-radius: 25px;
    margin: 1em;
    padding: 1em;
}

.opcion{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
}

#section_agregar_opcion{
    display: flex;
}

#stop_justi{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#stop_justi label{
    text-align: center;
    padding: 0.5em;
}

#stop_minutos input{
    width: 10%;
}

#stop_grados input{
    width: 10%;
}

#section_botones{
    display: flex;
    justify-content: space-evenly;
}

.input_menos{
    content: url("/svg/minus.svg");
    width: 1.2em;
    margin-left: 25px;
}

#stop_minutos, #stop_grados{
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
}

#section_botones{
    margin-bottom: 1em;
}